.back_canvas{
  min-width: 100vw;
  min-height: 100vh;
  background-color: #222;
  .container{
    .home_btn{
      margin-top: 0px;
    }
    .otp_main{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 100vh;
      background-color: #222;
      .otp_login_holder{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
        border: none;
        padding: 30px;
        border-radius: 20px;
        form{
          .otp_login_title{
            text-transform: capitalize;
            color: black;
          }
          .btn_request_otp{
            margin-top: 20px;
          }
        }  
      }
    }
  }
}